@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');


html,
body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
  background-color: white;
	overflow: hidden;
}

/* navbar css starts here */

.logo {
  overflow: hidden;
  display: flex !important;
  width: 90%;
  display: table;
  padding: 1%;
  margin-bottom: 2%;
  z-index: 1;
}

.logo-img {
  margin-right: 2rem;
  height: 50px;
  width: 50px;
}

.logo-img img {
  max-width: 100%;
  max-height: 100%;
}

#img-2 {
  padding-left: 0% !important;
}
/* navbar css ends here */

.top-section {
  display: flex;
}

.slogan {
  z-index: 1;
  padding: 1%;
}

.bg {
  position: absolute;
  top: 0;
  z-index: 0;
}


/* LOGIN FORM STARTS */

.login-form{
    width: 527px;
    height: 535px;
    background-color: chartreuse;
    color: black;
    background-color: white;
    position: absolute;
    top: 17%;
    left: 10%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    color: #3786E5;
    text-align: center;
    margin: 5%;
}

.input{
  text-align: center;
  margin-bottom: 1%;
}

::placeholder {
  font-family: 'DM Mono', monospace;
  color: #ABC9ED;
  font-size: 18px;
 
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 417px;
    height: 56px;
    border-color: #ABC9ED ;
    border-radius: 10px;
}

input[type=submit], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 417px;
    height: 56px;
    border-color: #ABC9ED ;
    border-radius: 10px;
}

select{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 417px;
    height: 56px;
    border-color: #ABC9ED ;
    border-radius: 10px;
    font-family: 'DM Mono', monospace;
    color: #ABC9ED;
    font-size: 18px;
}

.checkbox{
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  font-weight: 400;
  margin-left: 10%;
  margin-bottom: 2%;
}


.login-btn{
  margin-left: 10%;
  margin-top: 3.5%;
  margin-bottom: 10%;
}

.login-btn:hover{
cursor: pointer;
}



#btn{
  background-color: #3786E5;
  text-align: center;
  color: white;
  border: none;
  width: 133px;
  height: 50px;
  font-family: 'DM Mono', monospace;
  font-size: 18px;
  border-radius: 8px;
}
/* LOGIN FORM ENDS */

.minister {
  position: absolute;
  bottom: -1%;
  left: 45%;
  margin: 0;
  padding: 0;
}